<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>Developers - VIT HelpDesk</title>
	<meta name="description" content="Speakers - Free Meet the Team Section Tutorial" />
	<!-- Stylesheets /-->
	<link rel="stylesheet" type="text/css" href="assets/css/developers.css" /> <!-- Main stylesheet /-->
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css"> <!-- Grid framework /-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'> <!-- Open Sans /-->
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'> <!-- PT Sans Narrow /-->
	<link href="assets/css/font-awesome.css" rel="stylesheet"> <!-- Font Awesome /-->
</head>
<body>
	<div class="navbar navbar-inverse animated slideInDown">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand animated pulse infinite" id="lab" href="/">VIT HelpDesk</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right  ">
					<li>
						<a href="/">HOME</a>
					</li>
					<li>
						<a href="/login">LOGIN / SIGNUP</a>
					</li>
					<li>
						<a href="/developers" data-toggle="tooltip" data-placement="bottom" data-animation="animated zoomIn">DEVELOPERS</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- NAVBAR CODE END -->
	<!-- SPEAKERS SECTION -->
	<section id="speakers">
		<h3>TEAM MEMBERS</h3> <!-- Section Title -->
		<div class="separator"></div>
		<div class="container">
			<div class="col-md-8 col-md-offset-2">
				<!-- Section Description -->
				<p id="members">The people responsible for creating the VIT HelpDesk</p>
			</div>

			<!-- First Row of Speakers -->
			<div class="row1">

				<!-- Speaker 1 -->
				<div class="col-md-4">
					<a href="/profile" class="member-profile">
						<div class="unhover_img">
						<img src="assets/img/abhishek.jpg" alt="" />
						</div>
						<div class="hover_img">
						<img src="assets/img/abhishek.jpg" alt="" />
						</div>
						<span>Web Designer</span>
						<h4><span>Abhishek</span> Rathi</h4>
					</a>
					<ul>
						<li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"  target="_blank"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#" target="_blank"><i class="fa fa-foursquare"></i></a></li>
					</ul>
				</div>

				<!-- Speaker 2 -->
				<div class="col-md-4">
					<a href="/profile" class="member-profile">
						<div class="unhover_img">
						<img src="assets/img/1.jpg" alt="" />
						</div>
						<div class="hover_img">
						<img src="assets/img/1.jpg" alt="" />
						</div>
						<span>Web Developer</span>
						<h4><span>Umang</span> Chaudhary</h4>
					</a>
					<ul>
						<li><a href="#" target="_blank"><i class="fa fa-dribbble"></i></a></li>
						<li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"  target="_blank"><i class="fa fa-linkedin"></i></a></li>
					</ul>
				</div>

				<!-- Speaker 3 -->
				<div class="col-md-4">
					<a href="/profile" class="member-profile">
						<div class="unhover_img">
						<img src="assets/img/arnab.jpg" alt="" />
						</div>
						<div class="hover_img">
						<img src="assets/img/arnab.jpg" alt="" />
						</div>
						<span>Web Designer</span>
						<h4><span>Arnab</span> Saikia</h4>
					</a>
					<ul>
						<li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
						<li><a href="#" target="_blank"><i class="fa fa-vimeo-square"></i></a></li>
						<li><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li>
					</ul>
				</div>


			</div> <!-- End First Row -->

			<div class="clear"></div>
		</div>
	</section>
	<!-- //SPEAKERS SECTION -->
		<div class="footer">
			<div class="container">
				<p>&copy; VIT HelpDesk-2016</p>
				<a style="float:right" class="btn btn-default" data-toggle="modal" data-target="#exampleModal" data-whatever="umang18oct@gmail.com">CONTACT US</a>
				<div class="modal bounce animated" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="color:white">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header" style="background-color:rgba(110,189,153,0.8); border-color:black;">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<h4 class="modal-title" id="exampleModalLabel">New message</h4>
							</div>
							<div class="modal-body" style="background-color:black; border-color:black;">
								<form>
									<div class="form-group">
										<label for="recipient-name" class="control-label">Recipient:</label>
										<input type="text" class="form-control" id="recipient-name">
									</div>
									<div class="form-group">
										<label for="message-text" class="control-label">Message:</label>
										<textarea class="form-control" id="message-text"></textarea>
									</div>
								</form>
							</div>
							<div class="modal-footer" style="background-color:black; border-color:black;">
								<a>
									<button  id="bt1" data-toggle="tooltip" data-placement="bottom" data-animation="animated zoomIn" title="Functionality will be enabled soon" type="button" class="btn btn-default" style="float:left">Send message</button>
								</a>
							</div>
						</div>
					</div>
				</div>
				<h3> Social Links: </h3>
				<a href="https://www.facebook.com/UmG.18" class="btn btn-social btn-facebook">
					<i class="fa fa-facebook"></i>
					&nbsp; Facebook</a>
				<a href="https://plus.google.com/u/0/+umangchaudhary18" class="btn btn-social btn-google">
					<i class="fa fa-google-plus"></i>
					&nbsp; Google</a>
			</div>
		</div>



	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> <!-- Load jQuery -->

	<!-- jQuery Code for the View All Button -->
	<script>
		$(document).ready(function(){
		  $(".fadeIn").click(function(){
			$("div.row2").fadeIn();
			$("button.fadeIn").hide();
		  });
		});
	</script>

</body>
</html>
